<!-- 使用requirejs控制模块的加载 -->
<!-- php include this file -->

<!-- 目的: -->
<!-- 在该文件中初始化 requirejs 然后所有其他模块全部使用requirejs管理 -->

<!-- relavent path requirejs: boxuegu/public/assets/requirejs/require.js-->
<script type="text/javascript" src="/public/assets/requirejs/require.js"></script>
<!-- requirejs config -->
<script type="text/javascript" src="/public/js/config.js"></script>

<!-- 使用require 单独引入common模块 baseUrl: /public -->
<script type="text/javascript">
    require(['../js/common']);
</script>